# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
public/
public_prod/
public_wts/

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/


# Tools
.vscode
/.firebase

node_modules
.DS_Store
data_tools/__pycache__
*.pyc
