service cloud.firestore {
  match /databases/{database}/documents {
  	match /datasets/{dataset} {
    	function userIsAllowed(datasetResource) {
      	return request.auth.token.email in datasetResource.data.users
      }

      function getDatasetResource() {
      	return get(/databases/$(database)/documents/datasets/$(dataset))
      }

    	allow read: if userIsAllowed(resource)

      match /code_schemes/{scheme=**} {
      	allow read: if userIsAllowed(getDatasetResource())
      }

      match /messages/{message=**} {
      	allow read, write: if userIsAllowed(getDatasetResource())
      }

      match /metrics/{metrics=**} {
      	allow read, write: if userIsAllowed(getDatasetResource())
      }
    }
  }
}
