@charset "UTF-8";

/* Some resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
input, textarea, button, select, option,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 18px;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

li {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/************* Navbar **************/

body {
  display: flex; /* Helps keep the nav element fixed and the main element take the rest of the page */
}

nav {
  /* Appearance */
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  color: #555555;

  /* Positioning */
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 50px;
  z-index: 1; /* Should be on top of the table (same value as the table header is ok), otherwise bits of the table appear on top when scrolling */
}

nav .navbar-brand {
  /* Appearance */
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  color: #777777;
  padding: 15px 15px;

  /* Positioning */
  float: left;
}

nav .left.navbar-item-list li {
  float: left;
  position: relative;
}

nav .right.navbar-item-list li {
  float: right;
  position: relative;
}

nav button,
nav .button {
  cursor: pointer;
}

/*** Text and button group for switching between directions of coding ***/

.text-and-button-group input {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}

.text-and-button-group .button-group {
  display: inline;
  margin-left: -5px;
}

.button-group input:checked + label {
  background: #e7e7e7;
}
.text-and-button-group {
  margin-left: 10px;
}

/*** Checkboxes ***/
label[for="continuous-sorting"],
label[for="jump-to-next-uncoded"] {
  line-height: 30px;
  margin: 10px;
  margin-right: 2px;
  display: inline-block;
}

input#continuous-sorting,
input#jump-to-next-uncoded {
  vertical-align: middle;
}

/*** Login details: user name and picture ***/

nav #user-name {
  padding: 6px 0;
  margin: 10px 0;
}

nav #user-pic {
  background-size: 30px;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  margin: 10px;
}

nav #coding-nav[hidden],
nav #user-pic[hidden],
nav #user-name[hidden],
nav #sign-in-nav[hidden],
nav #sign-out[hidden],
main #sign-in-panel[hidden] {
  display: none;
}

/************ Main *************/
main {
  margin: 100px auto;
  padding: 0 40px;
}

main table {
  width: 100%;
}

main tbody {
  vertical-align: top;
}

#message-coding-table {
  outline: none;
  table-layout: fixed;
}

#message-coding-table td {
  padding: 6px 12px;
  border: none;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

#message-coding-table thead td {
  /* Sticky header */
  position: sticky;
  top: 51px; /* 50px nav height + 1px border */
  background: white;
  z-index: 1; /* Should be on top of the table, otherwise bits of the table appear on top when scrolling */

  /* Appearance */
  font-weight: bold;
  border-top: none;
  padding-top: 26px;
  box-shadow: 0px 2px 0px 0px #999999; /* instead of a bottom border, as that doesn't seem to work properly */
}

#message-coding-table tbody tr:first-child td {
  padding-top: 18px;
}

.message-seq {
  width: 50px;
}

.message-text {
  word-wrap: break-word;
}

.button.sort {
  display: inline-block;
  vertical-align: super;
  padding: 0 3px;
  margin: 0 8px 0 0;
}

td.message-seq .button.sort { /* First sorting button is a bit different */
  margin: 0 0 0 6px;
  vertical-align: initial;
}

.sort::after {
  content: "↓";
  color: #d8d8d8;
}

.sort.asc::after {
  content: "↓";
  color: #555555;
}

.sort.desc::after {
  content: "↑";
  color: #555555;
}

.message-row.active {
  border-left: 5px solid #000000;
}

.scheme-title .scheme-id {
  font-size: 10px;
  font-weight: normal;
  color: #555;
  text-align: right;
}

.scheme-title .scheme-name,
.scheme-title .scheme-id {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 30px;
}

.message-code,
.message-code .scheme-title,
.message-code .input-group {
  width: 200px;
}

.scheme-title .scheme-name {
  width: 140px;
}

.scheme-title .scheme-id,
.input-group .code-selector {
  width: 160px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
}

.input-group .warning {
  display: block;
  margin: auto 0 auto 4px;
  color: #ffaa00;
  font-weight: bold;
  cursor: default;
}

.input-group .warning.hidden {
  visibility: hidden;
}

.input-group .origin {
  font-size: 10px;
  color: #555;
  flex: 1 1 100%;
  text-align: right;
  padding-right: 10px; /* to align with the code selector below */
}

/******* Tabbing ********/
.input-group.active .code-selector {
  border-color: black;
  border-left-width: 3px;
}

/******* Other content in main body ******/
#other-content,
#sign-in-panel,
#sign-in-main {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

#sign-in-main {
  box-shadow: 1px 1px 4px #ccc;
  background: #3498db;
  color: #ffffff;
  border: none;
}

/********* Loading animation **********/
/* Inspired from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader5 */
#loader .contents,
#loader .animation {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px; /* half of width/height to be able to center with left/top: 50% */
  line-height: 150px;
  text-align: center;
}
#loader .animation {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader[hidden] {
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*** Snackbar ***/
#snackbar {
  position: fixed;
  left: 50%;
  bottom: 30px;
  width: 250px;
  margin: 0 -125px; /* half of width to be able to center horizontally with left: 50% */
  padding: 18px;
  box-shadow: 0 0 20px -7px;
  text-align: center;

  /* Copy the style from buttons */
  -webkit-appearance: none;
  border: 1px solid #d8d8d8;
  border-radius: 0;
}

#snackbar[hidden] {
  display: none;
}

#snackbar[type=notification] {
  background: #ffffff;
}

#snackbar[type=warning] {
  background: #ffe077;
}

#snackbar[type=error] {
  background: #ffa088;
}

#snackbar .contents {
  color: #555555;
}

#snackbar .close {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
}

#snackbar .close:before,
#snackbar .close:after {
  position: absolute;
  left: 8px;
  content: ' ';
  height: 16px;
  width: 2px;
  background: #999999;
}
#snackbar .close:before {
  transform: rotate(45deg);
}
#snackbar .close:after {
  transform: rotate(-45deg);
}
#snackbar .close:hover:before,
#snackbar .close:hover:after {
  background: #555555;
}
